* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8e8e8;
}

.pemintal {
    position: absolute;
    width: 9px;
    height: 9px;
}

.pemintal div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotasi) * 1deg))
        translate(0, calc(var(--transisi) * 1%));
    animation: animasi-pemintal 1s calc(var(--menunda) * 1s) infinite ease;
}

.pemintal div:nth-child(1) {
    --menunda: 0.1;
    --rotasi: 36;
    --transisi: 150;
}

.pemintal div:nth-child(2) {
    --menunda: 0.2;
    --rotasi: 72;
    --transisi: 150;
}

.pemintal div:nth-child(3) {
    --menunda: 0.3;
    --rotasi: 108;
    --transisi: 150;
}

.pemintal div:nth-child(4) {
    --menunda: 0.4;
    --rotasi: 144;
    --transisi: 150;
}

.pemintal div:nth-child(5) {
    --menunda: 0.5;
    --rotasi: 180;
    --transisi: 150;
}

.pemintal div:nth-child(6) {
    --menunda: 0.6;
    --rotasi: 216;
    --transisi: 150;
}

.pemintal div:nth-child(7) {
    --menunda: 0.7;
    --rotasi: 252;
    --transisi: 150;
}

.pemintal div:nth-child(8) {
    --menunda: 0.8;
    --rotasi: 288;
    --transisi: 150;
}

.pemintal div:nth-child(9) {
    --menunda: 0.9;
    --rotasi: 324;
    --transisi: 150;
}

.pemintal div:nth-child(10) {
    --menunda: 1;
    --rotasi: 360;
    --transisi: 150;
}

@keyframes animasi-pemintal {
    0%,
    10%,
    20%,
    30%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(calc(var(--rotasi) * 1deg))
            translate(0, calc(var(--transisi) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotasi) * 1deg))
            translate(0, calc(var(--transisi) * 1.5%));
    }
}
